.corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
}

.botao {
    font-size: var(--encore-text-size-base);
    font-family: var(--encore-body-font-stack);
    font-weight: 700;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border: 0px;
    border-radius: var(--encore-button-corner-radius, 9999px);
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    min-inline-size: 0px;
    align-self: center;
    width: 100%;
}

.span2{
    --encore-body-font-stack: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr,
    CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
    var(--fallback-fonts, sans-serif);
    --encore-title-font-stack: SpotifyMixUITitle, CircularSp-Arab, CircularSp-Hebr,
    CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
    var(--fallback-fonts, sans-serif);
    
    font-family: var(--encore-body-font-stack);
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-transform: none;
    user-select: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    background-color: var(--background-base,#1ed760);
    color: var(--text-base,#000000);
    display: flex;
    border-radius: var(--encore-button-corner-radius, 9999px);
    font-size: inherit;
    min-block-size: var(--encore-control-size-base, 48px);
    align-items: center;
    justify-content: center;
    padding-block-start: var(--encore-spacing-tighter-2, 8px);
    padding-block-end: var(--encore-spacing-tighter-2, 8px);
    padding-inline-start: var(--encore-spacing-looser-2, 32px);
    padding-inline-end: var(--encore-spacing-looser-2, 32px);
    transition-property: background-color, transform;
    transition-duration: 33ms;
    overflow-wrap: anywhere;
}
